.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: #f2f2f2;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: 999;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #ff9494;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #ff5252;
  width: 30px;
  transition-duration: 0.5s;
  transition-property: width;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #ff5252;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
